html,body {
  height: 100%;
}
#app {
  height: 100%;
}
::-webkit-scrollbar-track
{
  background: rgba(255,255,255,.1);
  border-radius: 0;
}

::-webkit-scrollbar
{
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb
{
  cursor: pointer;
  border-radius: 5px;
  background: rgba(255,255,255,.25);
  transition: color .2s ease;
}






